@model IEnumerable<TiendaMascotasCariños.Models.Progenitor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre Hijo
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProgenitor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mascota.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProgenitor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProgenitorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProgenitorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProgenitorID })
        </td>
    </tr>
}

</table>
