@model IEnumerable<TiendaMascotasCariños.Models.Mascota>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Raza.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tienda.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HistorialMascota)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.imagenMascota)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Raza.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tienda.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaNacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HistorialMascota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            <img width="80" height="80" src="@Url.Action("convertirImagen", "Mascotas", new {MascotaID = item.MascotaID})" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MascotaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MascotaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MascotaID })
        </td>
    </tr>
}

</table>
